body{
    margin:0;
    background-attachment: fixed;
    background-color:white;
}

nav{
    text-align: left;
    color:black;
}

nav ul{
    display: flex;
    justify-content: right;
}

nav ul li{
    margin:20px;
    align-items: left;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logo{
    width:6em;
    height: auto;
    ;
}

.display{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to left,rgba(53, 53, 156, 0.495),skyblue);
}

h1{
    text-align: center;
    font-size:3em;
    color:black;
    text-shadow: 2px 2px 2px white;
}

p{
    text-align: left;
    size:3em;
    color :black;
}

.popular{
    overflow:hidden;
    width:100%;
    background: linear-gradient(100deg, rgba(131, 172, 222, 0.865),rgba(255, 192, 203, 0.795));
    border-radius:6px;
    margin-bottom:100px;  
    height: auto;  
}

.animation{
    display: flex;
    width: 80%;
    animation: slide 20s linear infinite;
}

.popular:hover .animation {
    animation-play-state:paused;
}

.flag{
    border:none;
    border-radius:3px;
    text-align: center;
    margin:20px;
    display:flex;
    flex-direction: column;
    border-radius:20px;
    background-color: rgba(255, 255, 255, 0.381);
}

.flag img{
    padding:20px;
    width:8em;
    height:7em;
    border:none;
    border-radius:20%;
}

.flag a{
    text-decoration:none;
    color:blue;
    margin-bottom: 10px;
}

.flag a:hover{
    color:blueviolet;
    transition: 0.3s ease;
    font-weight: 800;
}

@keyframes slide{
    0%{
        transform: translate(0);
    }
    100%{
        transform: translate(-97%);
    }
}

.shoe{
    display: grid;
    grid-template-columns:repeat(5,1fr);
    gap:30px;
    justify-content:center;
    border:none;
    border-radius: 20px;
}

.shoe img{
    width:12em;
    height:10em;
    border-radius: 20px;
}

.card{
    padding: 10px;
    border:none;
    border-radius: 5%;
    margin-top: 5px;
    background:linear-gradient(100deg, rgba(135, 207, 235, 0.365),rgba(255, 192, 203, 0.42));
    background-color: 
}

.card p{
    font-size: 100%;
    color:black;
    text-align: left;
    box-sizing: border-box;
    text-align: center;
}

.card p a{
    text-decoration: none;
    color:blue;
    font-size: small;
    font-weight: 500;
}

.card p a:hover{
    color:blueviolet;
    transition: 0.3s ease;
    font-weight: 800;
}

.show{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card:hover {
    opacity: 3;
    transform: scale(1.03);
    transition-duration: 0.3s;
}

.ground{
    margin-top:15%;
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(169, 169, 169, 0.301);
}

.box{
    border: none;
    padding:4%;
}

.box h4{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:  1.5em;
    color: black;
}

.box p{
    text-align:left;
    font-size: medium;
    color:black;
}

.box a{
    text-decoration: none;
    font-style: italic;
    color: black;

    &:hover{
        color: darkblue;
    }
}
footer{
    background-color:rgba(169, 169, 169, 0.459);
    padding: auto;
    height: 100px;
}

footer p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: .9em;
    text-align: center;
    padding: 30px;
}

